body{
    background-image: url(assets/images/background.png);
    background-size: cover;
    margin-bottom: 5%;
    
}

#container{
    width: 70%;
    margin: auto;
}

.row{
    padding-top: 20px;
}

h1{
    color: aliceblue;
}

.col{
    padding-top: 50px;
    color: aliceblue;
}
.col button{
    color: white;
    font-weight: bold;
    float: right;
    width: 150px;
    background: rgb(60,15,15);
    background: linear-gradient(0deg, rgba(60,15,15,1) 0%, rgba(160,21,21,1) 100%);
}

.card{
    margin: auto;
    background: rgb(14,54,54);
    background: linear-gradient(0deg, rgba(14,54,54,0.7) 0%, rgba(11,75,75,0.7) 100%);
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.7s;
    opacity: 0;
    transform: translateX(-70px);
}

.card.in{
    transform: translateX(0);
    opacity: 1;
}

.card.out{
    transform: translateX(-100px);
    opacity: 0;
}

.card button{
    color: white;
    font-weight: bold;
    float: right;
    width: 150px;
    background: rgb(60,15,15);
    background: linear-gradient(0deg, rgba(60,15,15,1) 0%, rgba(21,160,27,1) 100%);
    border-radius: 20px;
}

h4{
    font-weight: bold;
}

table{
    width: 100%;
    color: white;
}

table button{
    float: right;
}

.admin{
    width: 25%;
}

.nama{
    width: 50%;
}

.nomer{
    float: right;
}

/* table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    width: 70%;
    padding-left: 10%;
    border-radius: 10px;
    background: rgb(14,54,54);
    background: linear-gradient(0deg, rgba(14,54,54,0.7) 0%, rgba(11,75,75,0.7) 100%);
    margin: auto;
}

table button{
    width: 150px;
    color: white;
    background: rgb(14,54,54);
    background: linear-gradient(0deg, rgba(14,54,54,1) 0%, rgba(21,160,160,1) 100%);
}

.aksi{
    float: right;
}

.judul{
    width: 40%;
}

table th{
    padding: 15px;
}

table td{
    padding: 15px;
} */

