body{
    background-image: url(assets/images/background.png);
    background-size: cover;
    overflow-x: hidden;
    
}

.col-6{
    color: aliceblue;
    padding-top: 15%;
}

.col-6 img{
    float: right;
    padding-right: 5%;
}

.col-6 p{
    color: grey;
    font-size: small;
}

.col-6 form input{
    width: 50%;
    background-color: #111111;
    border: none;
    height: 15%;
}

.col-6 form button{
    color: honeydew;
    background: linear-gradient(180deg, #049399 0%, #024447 100%);
    
}

.form-group label{
    color: darkgrey;
    font-size: 15px;
}

.image{
    transition: 1s;
    opacity: 0;
    transform: translateX(-30px);
}

.image.in{
    transform: translateX(0);
    opacity: 1;
}

.image.out{
    transform: translateX(-30);
}

.form{
    transition: 1s;
    opacity: 0;
    transform: translateX(30px);
}

.form.in{
    transform: translateX(0);
    opacity: 1;
}

.form.out{
    transform: translateX(30);
}